<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <!-- based on no-side bar template -->
    <%- include('../partials/head'); %>
    <body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('../partials/header'); %>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">
							<!-- Content -->
                            <article>
                                <header>
                                    <h2><%= webcontent.search.introduction %></h2>
                                    <p>
                                        <b><%= webcontent.search.note1 %>:</b> <%= webcontent.search.note2 %>
                                    </p>
                                </header>
                                <form method="POST" action="/portal/searchresults">
                                    <div class="row gtr-50">
                                        <div class="col-12">
                                            <input type="hidden" id="lang" name="lang" value="<%= language %>"/>
                                            <input type="text" name="textsearch" id="textsearch" maxlength="255" placeholder="<%= webcontent.search.note2 %>" value="" />
                                            <br/>
                                            <label class="container2"><%= webcontent.search.option1 %>
                                                <input type="radio" name="searchtype" id="searchtype" value="1" checked>
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container2"><%= webcontent.search.option2 %>
                                                <input type="radio" name="searchtype" id="searchtype" value="2">
                                                <span class="checkmark"></span>
                                            </label>
                                            <p></p> 
                                            <a href="#" onclick="ShowAdvancedOptions();return false;"><%= webcontent.search.advanced %>&nbsp;&nbsp;<img id="AdvancedOptionsImage"  name="AdvancedOptionsImage" src="../images/plus_blue16b.png" alt="<%= webcontent.search.advanced %>" style="vertical-align: middle; display: inline-block;"/></a>
                                            <hr id='AdvancedOptionshr' name='AdvancedOptionshr' style='display: none;'/>
                                        </div>
                                        <div class="col-6 col-12-mobilep" id='AdvancedOptions1' name='AdvancedOptions1' style='display: none;'>
                                            <%= webcontent.search.priority %><br/>
                                            <% let i=1 %>
                                            <% webcontent.Recommendation.Priority.split("|").forEach(function(item) { -%>
                                                <label class="container1"><%= item %>
                                                    <input type="checkbox" id="option<%= i %>" name="option<%= i %>" value="<%= nodes.Priority %>=\u0022<%= item %>\u0022">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <% i++ %> 
                                            <% }) -%>         
                                            <br/>
                                            <%= webcontent.search.riskareas %><br/>
                                            <% webcontent.Recommendation.RiskCharacterization.split("|").forEach(function(item) { -%>
                                                <label class="container1"><%= item %>
                                                    <input type="checkbox" id="option<%= i %>" name="option<%= i %>" value="<%= nodes.RiskCharacterization %>=\u0022<%= item %>\u0022">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <% i++ %> 
                                            <% }) -%>         
                                            <br/>
                                            <%= webcontent.search.rectype %><br/>
                                            <% webcontent.Recommendation.RiskEvaluation.split("|").forEach(function(item) { -%>
                                                <label class="container1"><%= item %>
                                                    <input type="checkbox" id="option<%= i %>" name="option<%= i %>" value="<%= nodes.RiskEvaluation %>=\u0022<%= item %>\u0022">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <% i++ %> 
                                            <% }) -%>    
                                        </div>
                                        <div class="col-6 col-12-mobilep" id='AdvancedOptions2' name='AdvancedOptions2' style='display: none;'>
                                            <%= webcontent.search.recimportance %><br/>
                                            <% webcontent.Recommendation.Importance.split("|").forEach(function(item) { -%>
                                                <label class="container1"><%= item %>
                                                    <input type="checkbox" id="option<%= i %>" name="option<%= i %>" value="<%= nodes.Importance %>=\u0022<%= item %>\u0022">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <% i++ %> 
                                            <% }) -%>     
                                            <br/>    
                                            <%= webcontent.search.status %><br/>
                                            <% webcontent.Recommendation.ImplementationStatus.split("|").forEach(function(item) { -%>
                                                <label class="container1"><%= item %>
                                                    <input type="checkbox" id="option<%= i %>" name="option<%= i %>" value="<%= nodes.ImplementationStatus %>=\u0022<%= item %>\u0022">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <% i++ %> 
                                            <% }) -%>         
                                            <br/>
                                            <%= webcontent.search.repeated %><br/>
                                            <% webcontent.Recommendation.Repeated.split("|").forEach(function(item) { -%>
                                                <label class="container1"><%= item %>
                                                    <input type="checkbox" id="option<%= i %>" name="option<%= i %>" value="<%= nodes.Repeated %>=\u0022<%= item %>\u0022">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <% i++ %> 
                                            <% }) -%>         
                                            <input type="hidden" id="options" name="options" value="<%= i %>"/>
                                        </div>
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><input type="submit" class="button alt" value="<%= webcontent.search.button %>" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </article>
						</div>
					</div>
				</section>

			<!-- Footer -->
			<%- include('../partials/footer'); %>

		</div>
        <!-- javascript is placed in the body section -->
        <script>
            function ShowAdvancedOptions() {
                if (document.getElementById("AdvancedOptionshr").style.display == "none"){
                    document.getElementById("AdvancedOptionsImage").src='../images/minus_blue16b.png';
                    document.getElementById("AdvancedOptionshr").style.display = "block";
                    document.getElementById("AdvancedOptions1").style.display = "block";
                    document.getElementById("AdvancedOptions2").style.display = "block";
                } else {
                    document.getElementById("AdvancedOptionsImage").src='../images/plus_blue16b.png';
                    document.getElementById("AdvancedOptionshr").style.display = "none";
                    document.getElementById("AdvancedOptions1").style.display = "none";
                    document.getElementById("AdvancedOptions2").style.display = "none";
                }
            }
        </script>   

		<!-- Scripts -->
		<%- include('../partials/scripts'); -%>

	</body>
</html>