<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <!-- based on no-side bar template -->
    <%- include('../partials/head'); %>
    <body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('../partials/header'); %>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">
							<!-- Content -->
                            <article>
                                <header>
                                    <h2><%= webcontent.main.searchresults %></h2>
                                    <p>
                                        <%  if (catalog.length > 0) { %>
                                            <b><%= webcontent.search.note1 %>:</b> <%= webcontent.main.numberresults.replace("$$$", catalog.length.toString()) %>
                                            <%  if (catalog.length === 100) { %>
                                                <br/>
                                                <%= webcontent.main.noteresults %>
                                            <% } %>
                                        <% } else { %>
                                            <b><%= webcontent.main.noresults %></b>
                                        <% } %>
                                        </p>
                                </header>
                                <div class="container">
                                    <div id="content">
                                        <article>
                                            <%  if (catalog.length > 0) { %>
                                                <% let i=1 %>
                                                <% catalog.forEach(function(item) { -%>
                                                    <p>
                                                    <b><%= webcontent.audit.tabreccol1 %>:</b><br/><%= item.Recommendation %><br/>
                                                    (<b><%= webcontent.audit.audit %>:</b> <a href="/portanalytics/auditsearch?id=<%= item.PortfolioId %>&auditid=<%= item.AuditId %>&lang=<%= language %>"><%= item.AuditTitle %></a>, <%= webcontent.audit.year %>: <%= item.AuditYear %>)
                                                    <div id="divShow<%= i %>" name="divShow<%= i %>" style="display:block;">
                                                        <a href="#" onclick="ShowRecommendations('<%= i %>');return false;">
                                                            <img id="insert_monitoring" src="../../images/plus_blue16b.png" alt="" style="vertical-align: baseline;height: 16px;"/>
                                                            &nbsp; <%= webcontent.search.ShowRec %>
                                                        </a>
                                                    </div>
                                                    <div id="divHide<%= i %>" name="divHide<%= i %>" style="display:none;">
                                                        <a href="#" onclick="HideRecommendations('<%= i %>');return false;">
                                                            <img id="insert_monitoring" src="../../images/minus_blue16b.png" alt="" style="vertical-align: baseline;height: 16px;"/>
                                                            &nbsp; <%= webcontent.search.HideRec %>
                                                        </a>
                                                    </div>
                                                    <div id="divResults<%= i %>" name="divResults<%= i %>" style="display:none; background-color:#F3F3F3">
                                                        <table>
                                                            <tr>
                                                                <td><b><%= webcontent.audit.status %>:</b> <%= item.status %></td>
                                                                <td><b><%= webcontent.audit.tabreccol4 %>:</b> <%= item.level %></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b><%= webcontent.audit.tabreccol3 %>:</b> <%= item.riskarea %></td>
                                                                <td>
                                                                    <%if (item.importance == webcontent.audit.importance) { %>
                                                                        <b><%= webcontent.audit.recimportance %>: <span style="color:rgba(255, 0, 0, 0.582)"><%= item.importance %></span></b>
                                                                    <% } else { %>
                                                                        &nbsp;
                                                                    <% } %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b><%= webcontent.audit.repeated %>:</b> <%= item.repeated %></td>
                                                                <td>
                                                                    <%if (item.priority == webcontent.audit.priority) { %>
                                                                        <b><%= webcontent.audit.tabreccol2 %>: <span style="color:rgba(255, 0, 0, 0.582)"><%= item.priority %></span></b>
                                                                    <% } else { %>
                                                                        &nbsp;
                                                                    <% } %>                                                                    
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <p>
                                                            <b><%= webcontent.audit.background %>:</b><br/>
                                                            <%= item.AuditBackground %>
                                                        </p>
                                                        <p>
                                                            <b><%= webcontent.audit.scope %>:</b><br/>
                                                            <%= item.AuditScope %>
                                                        </p>
                                                        <ul class="actions">
                                                            <li><input type="button" class="button alt" value="Load related findings" /></li>
                                                        </ul>                                    
                                                        <b><%= webcontent.main.presentin %></b> <a href="/portanalytics/portfoliosearch?id=<%= item.PortfolioId %>&lang=<%= language %>""><%= item.PortfolioId %></a>
                                                    </div>
                                                </p>
                                                <% i++ %>
                                                <% }) -%>  
                                            <% } %>
                                        </article>
                                    </div>
                                </div>                           
                            </article>
						</div>
					</div>
				</section>

            <!-- javascript is placed in the body section -->
            <script>
                function ShowRecommendations(r){
                    var x = document.getElementById("divShow" + r);
                    x.style.display = "none";
                    var x1 = document.getElementById("divHide" + r);
                    x1.style.display = "block";
                    var x2 = document.getElementById("divResults" + r);
                    x2.style.display = "block";
                };
                function HideRecommendations(r){
                    var x2 = document.getElementById("divResults" + r);
                    x2.style.display = "none";
                    var x = document.getElementById("divHide" + r);
                    x.style.display = "none";
                    var x1 = document.getElementById("divShow" + r);
                    x1.style.display = "block";
                };
            </script>                
			<!-- Footer -->
			<%- include('../partials/footer'); %>


		</div>

		<!-- Scripts -->
		<%- include('../partials/scripts'); -%>

	</body>
</html>



