<% reccatalog.forEach(function(item) { %>
    <tr id="<%= item.RowId %>Row" style="display: table-row;">
        <td>
            <a href="/auditrec/deleteauditrec/<%= item.Id %>">Delete...</a>
        </td>
        <td>
            <a href="/auditMatrices/recMatrix?id=<%= item.Id %>""><%= item.Id %></a>
            <input type="hidden" id="<%= item.RowId %>Id" name="<%= item.RowId %>Id" value="<%= item.Id %>"/>
        </td>
        <td>
            <span><%= item.Description %></span>
        </td>
        <td>
            <%if(item.Priority == "High") { %>
                <span style="color: rgb(252, 4, 4);"><b><%= item.Priority %></b></span>
            <% } else if (item.Priority == "Medium") { %>
                <span style="color: rgb(221, 210, 0);"><b><%= item.Priority %></b></span>
            <% } else if (item.Priority == "Low") { %>
                <span style="color: rgb(84, 161, 20);"><b><%= item.Priority %></b></span>
            <% } %>                
        </td>
        <td>
            <span><%= item.Risk %></span><br/>
            <%if(item.Riskevaluation == "High") { %>
                <span style="color: rgb(252, 4, 4);"><b>(<%= item.Riskevaluation %>)</b></span>
            <% } else if (item.Riskevaluation == "Medium") { %>
                <span style="color: rgb(221, 210, 0);"><b>(<%= item.Riskevaluation %>)</b></span>
            <% } else if (item.Riskevaluation == "Low") { %>
                <span style="color: rgb(84, 161, 20);"><b>(<%= item.Riskevaluation %>)</b></span>
            <% } %>                
        </td>
        <td>
            <span><%= item.Timeline %></span>
        </td>
        <td>
            <span data-tooltip-right="Current status is collected from last assessment, otherwise the value (not yet accessed) is displayed!"><%= item.Status %></span>
        </td>
    </tr>
<% }) %>
    