<script src="/assets/js/Chart.js"></script>
<section id="Statistics" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2>Domain characterization</h2>
        <p></p>
    </header>
    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('./audit_statistics/DomainImportance'); %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('./audit_statistics/RiskCharacterization'); %>
            </div>    
        </div>
        <p>&nbsp;</p>
        <hr/>
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('./audit_statistics/DomainCharacterization01'); %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('./audit_statistics/DomainCharacterization02'); %>
            </div>    
            <p>&nbsp;</p>
        </div>
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('./audit_statistics/DomainCharacterization03'); %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('./audit_statistics/DomainCharacterization04'); %>
            </div>    
            <p>&nbsp;</p>
        </div>
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('./audit_statistics/DomainCharacterization05'); %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('./audit_statistics/DomainCharacterization06'); %>
            </div>    
            <p>&nbsp;</p>
        </div>
        <div class="row gtr-200">    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('./audit_statistics/DomainCharacterization07'); %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
            </div>    
            <p>&nbsp;</p>
        </div>
    </div>
    <p></p>
</section>