<section id="contact" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2>Audit Reference</h2>
        <p></p>
    </header>
    <% if(msg != ''){ %>
        <div class="col-12" id="save_auditreference">
            <p>
                <span class="successformtext"><%= msg %></span><br/>
            </p>
        </div>
    <% } %>    
    <% if(AuditErrors){ %>
    <div class="col-12" id="err_auditreference">
        <p>
            <% AuditErrors.forEach(function(error){ %>
                <span class="errformtext">* <%= error.msg %></span><br/>
            <% }) %>    
        </p>
    </div>
    <% } %>
    <form method="POST" action="/toolaudit/toolauditreference">
        <div class="row gtr-50">
            <div class="col-12">
                <input type="text" name="auditid" id="auditid" placeholder="Audit ID" value="<%= AuditReference.AuditId %>" />
            </div>
            <div class="col-12">
                <input type="text" name="title" id="title" placeholder="Audit title" value="<%= AuditReference.Title %>" />
            </div>
            <div class="col-12">
                <textarea name="background" id="background" placeholder="Audit background" rows="5"><%= AuditReference.Background %></textarea>
            </div>
            <div class="col-12">
                <textarea name="scope" id="scope" placeholder="Audit scope" rows="5"><%= AuditReference.Scope %></textarea>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" class="button alt" value="Save" /></li>
                </ul>
            </div>
          </div>
    </form>
</section>
