<% reccatalog.forEach(function(item) { %>
    <tr id="<%= item.RowId %>Row" style="display: table-row;">
        <td>
            <a href="/auditrec/deleteauditrec/<%= item.Id %>">Delete...</a>
        </td>
        <td>
            <a href="/auditMatrices/recMatrix?id=<%= item.Id %>""><%= item.Id %></a>
            <input type="hidden" id="<%= item.RowId %>Id" name="<%= item.RowId %>Id" value="<%= item.Id %>"/>
        </td>
        <td>
            <span><%= item.Description %></span>
            <p><span><b>Related findings:&nbsp;</b>
                <% if(item.Findings.length > 0) { %>
                    <% item.Findings.split("|").forEach(function(finding) { -%>
                        <a  target="_blank" href="/auditMatrices/FindingData?id=<%= finding %>" data-tooltip-bottom="Use hyperlink on finding #id to visualize it"><%= finding %></a> - 
                    <% }) -%>
                <% } else { %>
                    <span>(none so far)</span>
                <% } %>   
            </span></p>
        </td>
        <td>
            <%if(item.Priority == "Urgent") { %>
                <img id="phigh<%= item.RowId %>" src="../images/high-16.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>
                <span><b><%= item.Priority %></b></span>
            <% } else if (item.Priority == "Low") { %>
                <span><b><%= item.Priority %></b></span>
            <% } %>                
        </td>
        <td>
            <span><%= item.Risk %></span><br/>
            <span><b>(<%= item.Riskevaluation %>)</b></span>            
        </td>
        <td>
            <span><%= item.Timeline %></span>
        </td>
        <td>
            <span data-tooltip-right="Current status is collected from last assessment, otherwise the value (not yet accessed) is displayed!"><%= item.Status %></span>
        </td>
    </tr>
<% }) %>
    