<section id="contact" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2>Domains, areas and issues</h2>
        <p></p>
    </header>
    <% if(msg != ''){ %>
        <div class="col-12" id="save_auditplan">
            <p>
                <span class="successformtext"><%= msg %></span><br/>
            </p>
        </div>
    <% } %>    
   <form method="POST" action="/planaudit/auditplanning">
        <div class="row gtr-50">
            <div class="col-12">
                <ul class="actions">
                    <li><a href="/planaudit/auditplanning" class="button">Reload List</a></li>
                    <% if(plancatalog.length > 0) { %>
                        <li><a href="/planaudit/syncauditplanning" class="button" data-tooltip="This functionality relies on the previous use of A2.02 matrix (02 Understanding the IT-systems)">Sync with pre-assessment</a></li>
                        <li><a style="border-style: none;" target="_blank" href="../support/sync-preassessment.html"><img src="../images/info-32a.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/></a></li>
                        <li><input type="submit" class="button alt" value="Save" /></li>
                    <% } %>
                </ul>
            </div>
            <p>
                <% if(plancatalog.length > 0) { %>
                    <p>Filter by <a href="#" onclick="filterRisk('3'); return false;">high risk</a>, <a href="#" onclick="filterRisk('2'); return false;">medium/high risk</a>, <a href="#" onclick="filterInclude(); return false;">include in audit</a>, <a href="#" onclick="showAllRows(); return false;">all issues</a>
                    <br/>&nbsp;<br/>
                    <a style="border-style: none;" href="/generatedocs/docplanList" data-tooltip="This functionality generates a word porcessing document containing the planning list"><img src="../images/export32t.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp; Export list</a>
                    &nbsp;
                    <a style="border-style: none;" href="/generatedocs/docauditprogramme" data-tooltip="This functionality generates a word porcessing document containing the audit programme"><img src="../images/export32t.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp; Audit programme</a>
                    &nbsp;
                    <a style="border-style: none;" href="/generatedocs/docmatricesList" data-tooltip="This functionality generates the matrices collection of all issues included in audit"><img src="../images/export32t.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp; Collection of matrices</a></p>
                    &nbsp;
                    <table id='tablecatalog'>
                        <thead>
                            <% include ./auditplanheader %>
                        </thead>    
                        <tbody>
                            <% include ./auditplanrow %>
                        </tbody>
                    </table>
                    <input type="hidden" name="rows_count" id="rows_count" value="<%= plancatalog.length %>"/> 
                    <p>
                    <a style="border-style: none;" href="/generatedocs/docplanList" data-tooltip="This functionality generates a word porcessing document containing the planning list"><img src="../images/export32t.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp; Export list</a>
                    &nbsp;
                    <a style="border-style: none;" href="/generatedocs/docauditprogramme" data-tooltip="This functionality generates a word porcessing document containing the audit programme"><img src="../images/export32t.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp; Audit programme</a>
                    &nbsp;
                    <a style="border-style: none;" href="/generatedocs/docmatricesList" data-tooltip="This functionality generates the matrices collection of all issues included in audit"><img src="../images/export32t.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp; Collection of matrices</a></p>
                <% } else { %>
                    <p>No Domains, areas and issues available!</p>
                <% } %>
            </p>
            <div class="col-12">
                <ul class="actions">
                    <li><a href="/planaudit/auditplanning" class="button">Reload List</a></li>
                    <% if(plancatalog.length > 0) { %>
                        <li><a href="/planaudit/syncauditplanning" class="button" data-tooltip="This functionality relies on the previous use of A2.02 matrix (02 Understanding the IT-systems)">Sync with pre-assessment</a></li>
                        <li><a style="border-style: none;" target="_blank" href="../support/sync-preassessment.html"><img src="../images/info-32a.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/></a></li>
                        <li><input type="submit" class="button alt" value="Save" /></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </form>
</section>
<!-- javascript is placed in the body section -->
<script>
    //it takes two parameters: the select control id as well the image control id associated in order to to change display
    function showInclude(elem, ctrlImg){
        if(elem.value == 'Yes') {
            //try: "inline-block"
            document.getElementById(ctrlImg).style.display = "inline-block"; //opposite: "none"
        } else {
            document.getElementById(ctrlImg).style.display = "none"; //opposite: "none"
        }
    }
    //it takes two parameters: the select control id as well the image control id associated in order to to change display
    function showRisk(elem, ctrlIndex){
		var ctrlImgMedium='rmedium' + ctrlIndex.toString();
		var ctrlImgHigh='rhigh' + ctrlIndex.toString();
        if(elem.value == '3') {
            document.getElementById(ctrlImgHigh).style.display = "inline-block"; 
            document.getElementById(ctrlImgMedium).style.display = "none"; 

            document.getElementById(ctrlIndex.toString() + "Image").style.display = "inline-block"; 
            document.getElementById(ctrlIndex.toString() + "Include").value = "Yes";             
        } else if(elem.value == '2') {
            document.getElementById(ctrlImgMedium).style.display = "inline-block"; 
            document.getElementById(ctrlImgHigh).style.display = "none"; 
        } else {
            document.getElementById(ctrlImgMedium).style.display = "none"; 
            document.getElementById(ctrlImgHigh).style.display = "none"; 
        }
    }
    function filterRisk(Weight){
        var TotalRows=<%= plancatalog.length %>;
        for (var j=1; j<=TotalRows; j++) {
            if (document.getElementById('#' + j.toString() +'Risk').value >= Weight) {
                document.getElementById('#' + j.toString() +'Row').style.display ="table-row";
            } else {
                document.getElementById('#' + j.toString() +'Row').style.display ="none";
            }
        }
    }
    function filterInclude(){
        var TotalRows=<%= plancatalog.length %>;
        for (var j=1; j<=TotalRows; j++) {
            if (document.getElementById('#' + j.toString() +'Include').value == 'Yes') {
                document.getElementById('#' + j.toString() +'Row').style.display ="table-row";
            } else {
                document.getElementById('#' + j.toString() +'Row').style.display ="none";
            }
        }
    }
    function showAllRows(){
        var TotalRows=<%= plancatalog.length %>;
        for (var j=1; j<=TotalRows; j++) {
            document.getElementById('#' + j.toString() +'Row').style.display ="table-row";
        }
    }
</script>
