<% Matrix.forEach(function(item) { %>
        <tr id="<%= item.RowId %>Row" style="display: table-row;">
            <td style="text-align:center">
                <a href="/analytics/SentimentFindingsDetailed?id=<%= item.Id %>""><%= item.Id %></a>
            </td>
            <td style="text-align:center">
                    <span><%= item.Sentence %></span>
            </td>    
            <td
            <% if (item.Score > 0.25 ) { %>
                style="background-color:green; color:white; text-align:center"
            <% } else if (item.Score < -0.25 ) { %>
                style="background-color:red; color:white; text-align:center"
            <% } else  { %>
                style="background-color:yellow; color:black; text-align:center"
            <% } %>
            >
                <span><%= item.Score %></span>
            </td>
        </tr>
<% }) %>