<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title><%= action %> Active IT Audit Manual</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<% include partials/header %>

		<!-- Main -->
			<div id="main">
				<%  if (action == 'intro') { %>
					<%- include partials/intro -%>
				<% } %>
				<%  if (action == 'actions') { %>
					<%- include partials/actions -%>
				<% } %>
				<%  if (action == 'project') { %>
					<% include partials/project %>
				<% } %>
				<%  if (action == 'plugins') { %>
					<% include partials/plugins %>
				<% } %>
				<%  if (action == 'desktop') { %>
					<% include partials/desktop %>
				<% } %>
				<%  if (action == 'contact') { %>
					<% include partials/contact %>
				<% } %>
			</div>
		<%- include partials/footer -%>

		<%- include partials/scripts -%>

	</body>
</html>