<% let i=1 %>
<% Matrix.Monitoring.forEach(function(item) { %>
    <tr id="F_<%= item.RowId %>Row" style="display: table-row;">
        <td>
            <a>Delete...</a>
        </td>
        <td><input type="date" name="MD_<%= item.RowId %>" id="MD_<%= item.RowId %>" value="<%= item.Date %>" />
        </td>
        <td>
            <select name="MS_<%= item.RowId %>" id="MS_<%= item.RowId %>" size="1" autofocus>
                <% Matrix.MonStatus.split("|").forEach(function(colitem) { -%>
                    <% if (item.Status === colitem) { %>
                        <option value="<%= colitem %>" selected><%= colitem %></option>
                    <% } else { %>
                        <option value="<%= colitem %>"><%= colitem %></option>
                    <% } %>       
                <% }) -%>         
            </select>
        </td>
        <td><textarea name="MT_<%= item.RowId %>" id="MT_<%= item.RowId %>" placeholder="Track note(s)" rows="3"><%= item.Note %></textarea> 
        </td>
    </tr>
    <% i++ %>
<% }) %>