<% 
let Description=''; 
let Source='';
let Relevant='';
let i=1;
%>
<% Matrix.RelFindings.forEach(function(item) { %>
    <% 
        Description=''; 
        Source='';
        Relevant='';
    %>
    <tr id="F_<%= i %>Row" style="display: table-row;">
        <td>
            <a id="a<%= i %>Row" href="#" onclick="deleteFindingRow(this);return false;">Delete...</a>
        </td>
        <td>
            <select name="RF_<%= i %>" id="RF_<%= i %>" size="1" autofocus onchange="GetFindingInfo(this.id);">
                <% Matrix.Findings.forEach(function(colitem) { -%>
                    <% if (item.RowId === colitem.FindingId) { %>
                        <option value="<%= colitem.FindingId %>" selected><%= colitem.FindingId %></option>
                        <% 
                            Description=colitem.Description; 
                            Source=colitem.Source;
                            Relevant=colitem.Relevant;
                        %>
                    <% } else { %>
                        <option value="<%= colitem.FindingId %>"><%= colitem.FindingId %></option>
                    <% } %>       
                <% }) -%>         
            </select>
        </td>
        <td><span name='RD_<%= i %>' id='RD_<%= i %>'><%= Description %></span></td>
        <td><span name='RS_<%= i %>' id='RS_<%= i %>'>
        <% Source.split("|").forEach(function(CascadeItem) { -%>
            <%= CascadeItem %><br/>
        <% })%>
        </span></td>
        <td><span name='RR_<%= i %>' id='RR_<%= i %>'><%= Relevant %></span></td>
    </tr>
    <% i++ %>
<% }) %>
