<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <!-- based on no-side bar template -->
    <% include ../partials/head %>

    <style type="text/css">
        #viz {
            width: 900px;
            height: 700px;
        }
    </style>
    <script src="https://cdn.rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
    <script>
        function draw() {
            var config = {
                container_id: "viz",
                server_url: "<%= ServerUrl %>",
                server_user: "<%= ServerUser %>",
                server_password: "<%= ServerPassword %>",
                labels: {
                    "Troll": {
                        caption: "user_key",
                        size: "pagerank",
                        community: "community"
                    }
                },
                relationships: {
                    "RETWEETS": {
                        caption: false,
                        thickness: "count"
                    }
                },
                initial_cypher: "<%= InitialCypher %>"
            }
            var viz = new NeoVis.default(config);
            viz.render();
        }
    </script>      

	<body class="is-preload" onload="draw()">
		<div id="page-wrapper">

			<!-- Header -->
			<% include ../partials/header %>

			<!-- Main -->
            <div class="container">
                <section class="col-6 col-12-narrower">
					<div class="container">
						<div id="content">
							<!-- Content -->
                            <article>
                                <section id="contact" class="col-6 col-12-narrower">
                                    <header>
                                        <h2></h2>
                                        <h2>Recommendations for the audit (visualization)</h2>
                                        <p></p>
                                    </header>
                                    <div class="container">
                                        <div id="viz"></div>
                                    </div>
                                </section>
                            </article>
						</div>
					</div>
				</section>
            </div>
			<!-- Footer -->
			<% include ../partials/footer %>

		</div>

		<!-- Scripts -->
		<%- include ../partials/scripts -%>

	</body>
</html>