<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <!-- based on no-side bar template -->
    <%- include('../partials/head'); %>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('../partials/header'); %>

			<!-- Main -->
            <div class="container">
                <section class="col-6 col-12-narrower">
					<div class="container">
						<div id="content">
							<!-- Content -->
                            <article>
                                <section id="contact" class="col-6 col-12-narrower">
                                    <header>
                                        <h2></h2>
                                        <h2>Audit Mind Map</h2>
                                        <p>Click on a node to obtain more information.</p>
                                    </header>
                                    <div id="mynetwork"></div>
                                </section>
                            </article>
						</div>
					</div>
				</section>
            </div>
			<!-- Footer -->
			<%- include('../partials/footer'); %>

		</div>

        <script type="text/javascript">
            //create support array of objects for sweet alert and hook for related matrix
            var supporNodes= <%- JSON.stringify(data.support) %>;

            // create an array with nodes
            //if recommendation is not linked with finding, at least it will linked with root node: the audit himself
            var nodes = new vis.DataSet(
                <%- JSON.stringify(data.nodes) %>
            );
    
            // create an array with edges
            var edges = new vis.DataSet(
                <%- JSON.stringify(data.edges) %>
            );
    
            // create a network
            var container = document.getElementById('mynetwork');
    
            // provide the data in the vis format
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                interaction:{hover:true},
                layout: {
                    hierarchical: {
                        sortMethod: 'directed',
                        shakeTowards: 'hubsize'
                    }
                },
                nodes: {
                    shape: 'dot',
                    size: 30,
                    font: {
                        size: 12,
                        color: '#000000'
                    },
                    borderWidth: 2,
                    shadow:true
                },
                edges: {
                    width: 2,
                    smooth: true,
                    arrows: { to: true },
                    shadow:true
                }
            };
    
            // initialize your network!
            var network = new vis.Network(container, data, options);
    
            network.on("click", function (params) {
                var vButtonVisibility = true;
                params.event = "[original event]";
                if (params.nodes >= 0){
                    if (supporNodes[params.nodes].matrix === ''){
                        vButtonVisibility= false;
                    } else {
                        vButtonVisibility= true;
                    };
                    swal({
                        title: supporNodes[params.nodes].title,
                        text: supporNodes[params.nodes].description,
                        buttons: {
                            Matrix: {
                                text: "Open related matrix",
                                value: "matrix",
                                visible: vButtonVisibility,
                                closeModal: true,
                            },
                            Close: {
                                text: "Close",
                                value: true,
                                closeModal: true,
                            },
                        },
                    })
                    .then((value) => {
                        switch (value) {
                        
                            case "matrix":
                                window.location.href = supporNodes[params.nodes].matrix;
                            break;
                        }
                    });            
                }
            });
        </script>
    
		<!-- Scripts -->
        <%- include('../partials/scripts'); -%>
	</body>

</html>