<script src="/assets/js/Chart.js"></script>
<section id="Statistics" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2><%= data.AuditTitle %></h2>
        <p></p>
    </header>
    <div class="container">
        <div id="content">
            <article>
                <p><span style="white-space: pre-line"><%= data.AuditBackground %></span></p>
                <p><span style="white-space: pre-line"><%= data.AuditScope %></span></p>
            </article>
        </div>
    </div>
    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('../audit_statistics/AuditRecPriority'); %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('../audit_statistics/AuditRecCharacterization'); %>
            </div>    
        </div>
        <p>&nbsp;</p>
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('../audit_statistics/AuditRecTypes'); %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- // include('../audit_statistics/AuditRecImportance'); %>
                <%- include('../audit_statistics/AuditRecRepeated'); %>
            </div>    
            <p>&nbsp;</p>
        </div>
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <%- include('../audit_statistics/AuditRecStatus'); %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
            </div>    
            <p>&nbsp;</p>
        </div>
        <hr/>
        <div id="content">
            <% if(data.AuditURL != '') { %>
                <ul class="links">
                    <!--max entries: 7-->
                    <li><a target="_blank" href="<%= data.AuditURL %>"><%= webcontent.audit.report %></a></li>
                </ul>
            <% } %>
            <!-- Content -->
            <article>
                <section id="contact" class="col-6 col-12-narrower">
                    <% if(data.NumberOfRecommendations > 0) { %>
                        <%= webcontent.audit.recprogress %>
                        <% data.Recommendations.forEach(function(item) { %>
                            <table id='recTable'>
                                <thead>
                                    <%- include('../audit_statistics/auditrecstatsheader'); %>
                                </thead>    
                                <tbody>
                                    <tr id="<%= item.RowId %>Row" style="display: table-row;">
                                        <td>
                                            <span><%= item.Description %></span>
                                            <p><span><b>Related findings:&nbsp;</b><br/>
                                                <% if(item.Findings.length > 0) { %>
                                                    <% item.Findings.forEach(function(subitem) { %>
                                                            <div style="margin-left: 30px;"><b><%= subitem.Number %>&nbsp;<%= subitem.Name %></b><br/></div>
                                                            <div style="margin-left: 30px;"><span style="white-space: pre-line"><%= subitem.Description %></span></div><br/>
                                                    <% }) %>
                                                <% } else { %>
                                                    <span style="margin-left: 30px;">(none so far)</span>
                                                <% } %>   
                                            </span></p>
                                        </td>
                                        <td style="width:150px;">
                                            <span>
                                                <% resPriority = webcontent.Recommendation.Priority.split("|") -%>
                                                    <% for(j=0; j < resPriority.length; j++) { -%>
                                                    <% if (resPriority[j] === item.Priority) { %>
                                                        <% break; -%>
                                                    <% } %>    
                                                <% } %>
                                                <% if (j < resPriority.length) { %>
                                                    <img src="../../images/priority_<%= j %>.png" alt="" style="vertical-align: text-bottom;"/>
                                                <% } else { %>
                                                    <img src="../../images/priority.png" alt="" style="vertical-align: text-bottom;"/>                                                        
                                                <% } %>
                                            &nbsp;
                                            <b><%= item.Priority %></b></span>
                                        </td>
                                        <td>
                                            <span><%= item.Risk %></span>
                                        </td>
                                        <td>
                                            <span><%= item.Riskevaluation %></span>            
                                        </td>
                                        <td>
                                            <span><%= item.Timeline %></span>
                                        </td>
                                        <td>
                                            <span data-tooltip-left="Current status is collected from last assessment, otherwise the value (not yet accessed) is displayed!">
                                                <%= item.Status %>
                                            </span>
                                            <p>
                                                <% resImplementation = webcontent.Recommendation.ImplementationStatus.split("|") -%>
                                                    <% for(k=0; k < resImplementation.length; k++) { -%>
                                                    <% if (resImplementation[k] === item.Status) { %>
                                                        <% break; -%>
                                                    <% } %>    
                                                <% } %>
                                                <% if (k < resImplementation.length) { %>
                                                    <img src="../../images/implementation_<%= k %>.png" alt="" style="display:block; margin:0 auto; width:32px;height:32px"/>
                                                <% } else { %>
                                                    <img src="../../images/implementation.png" alt="" style="display:block; margin:0 auto; width:32px;height:32px"/>                                                        
                                                <% } %>
                                            </p>
                                        </td>
                                    </tr>
                                    <tfoot>
                                        <tr style="height: 30px;">
                                            <td style="background-color: transparent"></td>
                                            <td style="background-color: transparent"></td>
                                            <td style="background-color: transparent"></td>
                                            <td style="background-color: transparent"></td>
                                            <td style="background-color: transparent"></td>
                                            <td style="background-color: transparent"></td>
                                        </tr>
                                    </tfoot>
                                </tbody>
                            </table>
                            <br/>
                        <% }) %>
                    <% } %>
                </section>    
            </article>
        </div>



    </div>
    <p></p>
</section>