<h1><%= webcontent.portfolio.newissues %></h1>
<canvas id="chartjs-Rrepetead" class="chartjs" width="undefined" height="undefined"></canvas>
<script>
    new Chart(document.getElementById("chartjs-Rrepetead"),
    {
    "type":"horizontalBar",
    "data":{
        "labels":[
            <%- '"' + catalogStat.repeated_label.split('|').join('","') + '"' %>    
        ],
        "datasets":
            [
                {
                    <% if (language == 'EN') { -%>
                    "label":"Number",
                    <% } else { %>
                    "label":"<%= webcontent.main.number %>",
                    <% } %>
                    "data":[
                        <% colStat =  catalogStat.repeated_label.split(" ").join("_").split("|") -%>
                        <% for (var i=0; i<colStat.length; i++) { -%>
                            <% if (i == 0) { -%>
                                <%= catalogStat.repeated_data[colStat[i]] %>
                            <% } else { %>
                                ,<%= catalogStat.repeated_data[colStat[i]] %>
                            <% } %>
                        <% } -%>  
                    ],
                    "fill":false,
                    "backgroundColor":[
                        <% for (var i=0; i<colStat.length; i++) { -%>
                            <% if (i == 0) { -%>
                                "<%= colors[i] %>"
                            <% } else { %>
                                ,"<%= colors[i] %>"
                            <% } %>
                        <% } -%>  
                    ],
                    "borderColor":[
                        <% for (var i=0; i<colStat.length; i++) { -%>
                            <% if (i == 0) { -%>
                                "<%= colors[i] %>"
                            <% } else { %>
                                ,"<%= colors[i] %>"
                            <% } %>
                        <% } -%>  
                    ],
                    "borderWidth":1
                }
            ]
        },
        "options":{
            "scales":
                {
                    "xAxes":[{"ticks":{"beginAtZero":true}}]
                }
        }
    });
</script>
