<h1><%= webcontent.portfolio.newissues %></h1>
<canvas id="chartjs-Rrepetead" class="chartjs" width="undefined" height="undefined"></canvas>
<script>
    new Chart(document.getElementById("chartjs-Rrepetead"),
    {
    "type":"horizontalBar",
    "data":{
        "labels":[
            <% if (language == 'EN') { -%>
            'Total','New', 'Repeated', 'Partially Rep.'
            <% } else { %>
            <%- '"' + webcontent.Recommendation.Repeated.split('|').join('","') + '"' %>    
            <% } %>
        ],
        "datasets":
            [
                {
                    <% if (language == 'EN') { -%>
                    "label":"Number",
                    <% } else { %>
                    "label":"<%= webcontent.main.number %>",
                    <% } %>
                    "data":[
                        <%= catalog.repeated_data.No + catalog.repeated_data.Yes + catalog.repeated_data.Partially %>,
                        <%= catalog.repeated_data.No %>,
                        <%= catalog.repeated_data.Yes %>,
                        <%= catalog.repeated_data.Partially %>
                    ],
                    "fill":false,
                    "backgroundColor":[
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 159, 64, 1)",
                        "rgba(25, 159, 64, 1)"
                    ],
                    "borderColor":[
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 159, 64, 1)",
                        "rgba(25, 159, 64, 1)"
                    ],
                    "borderWidth":1
                }
            ]
        },
        "options":{
            "scales":
                {
                    "xAxes":[{"ticks":{"beginAtZero":true}}]
                }
        }
    });
</script>
