<section id="contact" class="col-6 col-12-narrower">
        <header>
            <h2></h2>
            <h2><%= Matrix.FindingId %></h2>
        </header>
        <% if(msg != ''){ %>
            <div class="col-12" id="save_auditmatrix">
                <p>
                    <span class="successformtext"><%= msg %></span><br/>
                </p>
            </div>
        <% } %>    
        <% if(AuditErrors){ %>
        <div class="col-12" id="err_auditmatrix">
            <p>
                <% AuditErrors.forEach(function(error){ %>
                    <span class="errformtext">* <%= error.msg %></span><br/>
                <% }) %>    
            </p>
        </div>
        <% } %>
        <form method="POST" action="/auditMatrices/findingMatrix">
            <div class="row gtr-50">
                <div class="col-12">
                    <ul class="actions">
                        <% if (Matrix.FindingId != "(New)") { %>
                            <li><a href="/generatedocs/docfindingMatrix?id=<%= Matrix.FindingId %>" class="button">Generate document</a></li>
                        <% } %>
                        <% if (source === "map") { %>
                            <li><a href="/analytics/AuditMap" class="button">Close</a></li>
                        <% } else { %>
                            <li><a href="/findingaudit/auditfindings" class="button">Close</a></li>
                        <% } %>
                        <li><input type="submit" class="button alt" value="Save" /></li>
                    </ul>
                </div>
                <div class="col-12">
                    Source<br/>
                    <select name="source" id="source" size="1" autofocus onchange="RedoDomains()">
                        <% Matrix.Sources.split("|").forEach(function(item) { -%>
                            <% if (Matrix.Source === item) { %>
                                <option value="<%= item %>" selected><%= item %></option>
                            <% } else { %>
                                <option value="<%= item %>"><%= item %></option>
                            <% } %>       
                        <% }) -%>         
                        </select>
                    <input type="hidden" id="findingid" name="findingid" value="<%= Matrix.FindingId %>"/>
                </div>
                <div class="col-12">
                    Domain<br/>
                    <select name="domain" id="domain" size="1" autofocus onchange="RedoAreas()">
                        <% Matrix.Domains.split("|").forEach(function(item) { -%>
                            <% subitem = item.split("#") %>
                            <% if (subitem[0].indexOf(Matrix.Source) > -1) { %>
                                <% if (Matrix.Domain == subitem[0]) { %>
                                    <option value="<%= subitem[0] %>" selected><%= subitem[1] %></option>
                                <% } else { %>
                                    <option value="<%= subitem[0] %>"><%= subitem[1] %></option>
                                <% } %>  
                            <% } %>      
                        <% }) -%>         
                    </select>
                </div>
                <div class="col-12">
                    Area<br/>
                    <select name="area" id="area" size="1" autofocus onchange="RedoIssues()">
                        <% Matrix.Areas.split("|").forEach(function(item) { -%>
                            <% subitem = item.split("#") %>                    
                            <% if (subitem[0].indexOf(Matrix.Domain) > -1) { %>
                                <% if (Matrix.Area == subitem[0]) { %>
                                    <option value="<%= subitem[0] %>" selected><%= subitem[1] %></option>
                                <% } else { %>
                                    <option value="<%= subitem[0] %>"><%= subitem[1] %></option>
                                <% } %>       
                            <% } %>
                        <% }) -%>         
                    </select>
                </div>
                <div class="col-12">
                    Issue<br/>
                    <select name="issue" id="issue" size="1" autofocus>
                        <% Matrix.Issues.split("|").forEach(function(item) { -%>
                            <% subitem = item.split("#") %>
                            <% if (subitem[0].indexOf(Matrix.Area) > -1) { %>
                                <% if (Matrix.Issue == subitem[0]) { %>
                                    <option value="<%= subitem[0] %>" selected><%= subitem[1] %></option>
                                <% } else { %>
                                    <option value="<%= subitem[0] %>"><%= subitem[1] %></option>
                                <% } %>
                            <% } %>
                        <% }) -%>         
                    </select>
                </div>
                <div class="col-12">
                    Cause<br/>
                    <textarea name="cause" id="cause" placeholder="Cause" rows="1"><%= Matrix.Cause %></textarea>
                </div>
                <div class="col-12">
                    Result<br/>
                    <textarea name="result" id="result" placeholder="Result" rows="1"><%= Matrix.Result %></textarea>
                </div>
                <div class="col-12">
                    Description of the finding<br/>
                    <textarea name="description" id="description" placeholder="Description" rows="18"><%= Matrix.Description %></textarea>
                </div>
                <div class="col-12">
                    Recommendation<br/>
                    <textarea name="recommendation" id="recommendation" placeholder="Recommendation" rows="6"><%= Matrix.Recommendation %></textarea>
                </div>
                <div class="col-12">
                    Reference to Legal Act<br/>
                    <textarea name="legalact" id="legalact" placeholder="Reference to Legal Act" rows="2"><%= Matrix.LegalAct %></textarea>
                </div>
                <div class="col-12">
                    Reference to the report<br/>
                    <textarea name="report" id="report" placeholder="Reference to the report" rows="2"><%= Matrix.ReportReference %></textarea>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <% if (Matrix.FindingId != "(New)") { %>
                            <li><a href="/generatedocs/docfindingMatrix?id=<%= Matrix.FindingId %>" class="button">Generate document</a></li>
                        <% } %>
                        <% if (source === "map") { %>
                            <li><a href="/analytics/AuditMap" class="button">Close</a></li>
                        <% } else { %>
                            <li><a href="/findingaudit/auditfindings" class="button">Close</a></li>
                        <% } %>
                        <li><input type="submit" class="button alt" value="Save" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
<!-- javascript is placed in the body section -->
<script>
        var Domains=[
            <% let i=0 %>
            <% Matrix.Domains.split("|").forEach(function(item) { -%>
                <% if (i==0) { %>
                    "<%= item %>"
                <% } else { %>
                    ,"<%= item %>"
                <% } %>
                <% i++ %>
             <% }) -%>             
        ];
        var Areas=[
            <% i=0 %>
            <% Matrix.Areas.split("|").forEach(function(item) { -%>
                <% if (i==0) { %>
                    "<%= item %>"
                <% } else { %>
                    ,"<%= item %>"
                <% } %>
                <% i++ %>
             <% }) -%>             
        ];        
        var Issues=[
            <% i=0 %>
            <% Matrix.Issues.split("|").forEach(function(item) { -%>
                <% if (i==0) { %>
                    "<%= item %>"
                <% } else { %>
                    ,"<%= item %>"
                <% } %>
                <% i++ %>
             <% }) -%>             
        ];

    function RedoDomains(){
        document.getElementById("domain").innerHTML = "<option></option>";
        document.getElementById("area").innerHTML = "<option></option>";
        document.getElementById("issue").innerHTML = "<option></option>";
        //redo domain dropdown
        var selOptions = "";
        for (var j=0; j<Domains.length; j++) {
            var items = Domains[j].split("#");
            if (items[0].indexOf(document.getElementById("source").value) > -1){
                selOptions += "<option value='" + items[0]+ "'>" + items[1] + "</option>";
            }
        }
        document.getElementById("domain").innerHTML = selOptions;
        RedoAreas();
        RedoIssues();
    }

    function RedoAreas(){
        document.getElementById("area").innerHTML = "<option></option>";
        document.getElementById("issue").innerHTML = "<option></option>";    
        //redo area dropdown
        var selOptions = "";
        for (var j=0; j<Areas.length; j++) {
            var items = Areas[j].split("#");
            if (items[0].indexOf(document.getElementById("domain").value) > -1){
                selOptions += "<option value='" + items[0]+ "'>" + items[1] + "</option>";
            }
        }
        document.getElementById("area").innerHTML = selOptions;
        RedoIssues();
    }

    function RedoIssues(){
        document.getElementById("issue").innerHTML = "<option></option>";            
        //redo issue dropdown
        var selOptions = "";
        for (var j=0; j<Issues.length; j++) {
            var items = Issues[j].split("#");
            if (items[0].indexOf(document.getElementById("area").value) > -1){
                selOptions += "<option value='" + items[0]+ "'>" + items[1] + "</option>";
            }
        }
        document.getElementById("issue").innerHTML = selOptions;
    }

    </script>    