
<section id="contact" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2><%= Matrix.RecId %></h2>
    </header>
    <% if(msg != ''){ %>
        <div class="col-12" id="save_auditmatrix">
            <p>
                <span class="successformtext"><%= msg %></span><br/>
            </p>
        </div>
    <% } %>    
    <% if(AuditErrors){ %>
    <div class="col-12" id="err_auditmatrix">
        <p>
            <% AuditErrors.forEach(function(error){ %>
                <span class="errformtext">* <%= error.msg %></span><br/>
            <% }) %>    
        </p>
    </div>
    <% } %>
    <form method="POST" action="/auditMatrices/recMatrix">
        <div class="row gtr-50">
            <div class="col-12">
                <ul class="actions">
                    <% if (Matrix.RecId != "(New)") { %>
                        <li><a href="/generatedocs/docrecMatrix?id=<%= Matrix.RecId %>" class="button">Generate document</a></li>
                    <% } %>
                    <li><a href="/auditrec/auditrecs" class="button">Close</a></li>
                    <li><input type="submit" class="button alt" value="Save" /></li>
                </ul>
            </div>
            <div class="col-12">
                Description<br/>
                <textarea name="description" id="description" autofocus placeholder="Recommendation description" rows="10"><%= Matrix.Description %></textarea>
                <input type="hidden" id="recid" name="recid" value="<%= Matrix.RecId %>"/>
            </div>
            <div class="col-12">
                Priority<br/>
                <select name="priority" id="priority" size="1">
                    <% Matrix.Priorities.split("|").forEach(function(item) { -%>
                        <% if (Matrix.Priority === item) { %>
                            <option value="<%= item %>" selected><%= item %></option>
                        <% } else { %>
                            <option value="<%= item %>"><%= item %></option>
                        <% } %>       
                    <% }) -%>         
                </select>
            </div>
            <div class="col-12">
                Risk characterization<br/>
                <select name="risk" id="risk" size="1" data-tooltip-right="(Most relevant category of) Risk faced by organizations directly and indirectly as a result of non-implementation of audit recommendations">
                    <% Matrix.Risks.split("|").forEach(function(item) { -%>
                        <% if (Matrix.Risk === item) { %>
                            <option value="<%= item %>" selected><%= item %></option>
                        <% } else { %>
                            <option value="<%= item %>"><%= item %></option>
                        <% } %>       
                    <% }) -%>         
                </select>
            </div>
            <div class="col-12">
                Risk evaluation<br/>
                <select name="riskevaluation" id="riskevaluation" size="1">
                    <% Matrix.RisksEvaluation.split("|").forEach(function(item) { -%>
                        <% if (Matrix.Riskevaluation === item) { %>
                            <option value="<%= item %>" selected><%= item %></option>
                        <% } else { %>
                            <option value="<%= item %>"><%= item %></option>
                        <% } %>       
                    <% }) -%>         
                </select>
            </div>
            <div class="col-12">
                Importance<br/>
                <select name="importance" id="importance" size="1">
                    <% Matrix.ICategories.split("|").forEach(function(item) { -%>
                        <% if (Matrix.Importance === item) { %>
                            <option value="<%= item %>" selected><%= item %></option>
                        <% } else { %>
                            <option value="<%= item %>"><%= item %></option>
                        <% } %>       
                    <% }) -%>         
                </select>
            </div>
            <div class="col-12">
                Accepted (by the auditee)<br/>
                <select name="accepted" id="accepted" size="1" data-tooltip-right="Recommendation accepted by the auditee">
                    <% if (Matrix.Accepted == "Yes") { %>
                        <option value="Yes" selected>Yes</option>
                        <option value="No" >No</option>
                    <% } else { %>
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    <% } %>
                </select>
            </div>
            <div class="col-12">
                Repeated in previous audit(s)?(register in remarks field the history)<br/>
                <select name="reapeated" id="reapeated" size="1" data-tooltip-right="Recommendation repeated in previous audit(s)">
                    <% if (Matrix.Repeated == "Yes") { %>
                        <option value="Yes" selected>Yes</option>
                        <option value="No" >No</option>
                    <% } else { %>
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    <% } %>
                </select>
            </div>
            <div class="col-12">
                Action plan<br/>
                <textarea name="actionplan" id="actionplan" placeholder="Action/remedial plan proposed" rows="4"><%= Matrix.Actionplan %></textarea>
            </div>
            <div class="col-12">
                Timeline<br/>
                <textarea name="timeline" id="timeline" placeholder="Timeline planned to implement the action/remedial plan proposed" rows="1"><%= Matrix.Timeline %></textarea>
            </div>
            <div class="col-12">
                Desired outcome<br/>
                <textarea name="outcome" id="outcome" placeholder="Description of the outcome desired by the implementation of the recommendation" rows="2"><%= Matrix.Outcome %></textarea>
            </div>
            <div class="col-12">
                Responsible<br/>
                <textarea name="responsible" id="responsible" placeholder="Identify and direct recommendation to those who have responsibility and authority to act on them" rows="1"><%= Matrix.Responsible %></textarea>
            </div>
            <div class="col-12">
                Remarks<br/>
                <textarea name="remarks" id="remarks" placeholder="(Unstructured) Notes and remarks about recommendation registered by the auditor" rows="2"><%= Matrix.Remarks %></textarea>
            </div>
            <div class="col-12">
                Related reported findings<br/>
                    <a href="#" onclick="InsertFindingRow();return false;">
                        <img id="insert_finding" src="../../images/plus_blue.png" alt="" style="vertical-align: baseline;height: 16px;" />
                        &nbsp; add new item...
                    </a>
                    <table id='tablerelfindings'>
                        <thead>
                            <%- include('./submatrices/recrelfindingsheader'); %>
                        </thead>    
                        <tbody>
                            <% if(Matrix.RelFindings.length > 0) { %>
                                <%- include('./submatrices/recrelfindingsrow'); %>
                            <% } %>
                        </tbody>
                    </table>
                    <input type="hidden" name="frows_count" id="frows_count" value="<%= Matrix.RelFindings.length %>"/>                
            </div>
            <div class="col-12">
                Monitoring and follow-up activities<br/>
                <a href="#" onclick="InsertMonitoringRow();return false;">
                        <img id="insert_monitoring" src="../../images/plus_blue.png" alt="" style="vertical-align: baseline;height: 16px;"/>
                        &nbsp; add new item...
                    </a>
                    <table id='tablemonitoring'>
                        <thead>
                            <%- include('./submatrices/recmonitoringheader'); %>
                        </thead>    
                        <tbody>
                            <% if(Matrix.Monitoring.length > 0) { %>
                                <%- include('./submatrices/recmonitoringrow'); %>
                            <% } %>
                        </tbody>
                    </table>
                    <input type="hidden" name="mrows_count" id="mrows_count" value="<%= Matrix.Monitoring.length %>"/>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <% if (Matrix.RecId != "(New)") { %>
                        <li><a href="/generatedocs/docrecMatrix?id=<%= Matrix.RecId %>" class="button">Generate document</a></li>
                    <% } %>
                    <li><a href="/auditrec/auditrecs" class="button">Close</a></li>
                    <li><input type="submit" class="button alt" value="Save" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>
<!-- javascript is placed in the body section -->
<script>
    var ColFindings=[
        <% Matrix.Findings.forEach(function(colitem) { -%>
            {
                FindingId: "<%= colitem.FindingId -%>",
                Description: "<%= colitem.Description -%>", 
                Source: "<%= colitem.Source -%>",
                Relevant: "<%= colitem.Relevant -%>"
            },
        <% }) -%>    
    ];

    function GetFindingInfo(r){

        var vPos = r.replace("RF_","");
        var e = document.getElementById(r);
        var selFindingId = e.options[e.selectedIndex].value;        
        var result = $.grep(ColFindings, function(e){ return e.FindingId == selFindingId; });
        var temSource = "";

        if (result.length > 0) {
            document.getElementById("RD_" + vPos).textContent=result[0].Description;
            document.getElementById("RS_" + vPos).textContent="";
            result[0].Source.split("|").forEach(function(CascadeItem) {
                temSource=temSource + CascadeItem + "<br/>";
            });
            $("#RS_" + vPos).html(temSource);
            document.getElementById("RR_" + vPos).textContent=result[0].Relevant;
        };
    }
    function deleteFindingRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("tablerelfindings").deleteRow(i);
    }    
    function deleteMonitoringRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("tablemonitoring").deleteRow(i);
    }

    function InsertFindingRow() {
        var Total = $('#frows_count').val();
        Total=Number(Total) + 1;
	    // First check if a <tbody> tag exists, add one if not
        if ($("#tablerelfindings tbody").length == 0) {
	        $("#tablerelfindings").append("<tbody></tbody>");
	    }

        // Append product to the table
        $("#tablerelfindings tbody").append(
        "<tr>" +
        "<td>" +
            "<a href='#' onclick='deleteFindingRow(this);return false;'>Delete...</a>" +
        "</td>" +
        "<td>" +
            "<select name='RF_" + Total +"' id='RF_" + Total +"' size='1' autofocus onchange='GetFindingInfo(this.id);'>" +
                <% Matrix.Findings.forEach(function(colitem) { -%>
                "<option value='<%= colitem.FindingId %>''><%= colitem.FindingId %></option>" +
                <% }) -%>         
            "</select>" +
        "</td>" +
        "<td><span name='RD_" + Total +"' id='RD_" + Total +"'>(Select finding in dropdown to get related information!)</span></td>" +
        "<td><span name='RS_" + Total +"' id='RS_" + Total +"'><span></td>" +
        "<td><span name='RR_" + Total +"' id='RR_" + Total +"'><span></td>" +
        "</tr>"
        );
        $('#frows_count').val(Total);
    }    

    function InsertMonitoringRow() {
        var Total = $('#mrows_count').val();
        Total=Number(Total) + 1;
	    // First check if a <tbody> tag exists, add one if not
        if ($("#tablemonitoring tbody").length == 0) {
	        $("#tablemonitoring").append("<tbody></tbody>");
	    }

        // Append product to the table
        $("#tablemonitoring tbody").append(
        <% let today = new Date();
        let dd = today.getDate();
        dd= '0' + dd;
        let mm = (today.getMonth()+1);
        mm= '0' + mm;
        let yyyy = today.getFullYear();

        today = yyyy + "-" + mm.slice(-2) + "-" + dd.slice(-2);
        %>
        "<tr id='M_" + Total +"Row' style='display: table-row;'>" + 
            "<td>" +
                "<a id='a" + Total +"Row' href='#' onclick='deleteMonitoringRow(this);return false;'>Delete...</a>" +
            "</td>" +
            "<td><input type='date' name='MD_" + Total +"' id='MD_" + Total +"' value='<%= today %>' />" +
            "</td>" +
            "<td>" +
                "<select name='MS_" + Total +"' id='MS_" + Total +"' size='1' autofocus>" +
                    <% Matrix.MonStatus.split("|").forEach(function(colitem) { -%>
                        "<option value='<%= colitem %>'><%= colitem %></option>" +
                    <% }) -%>         
                "</select>" +
            "</td>" +
            "<td><textarea name='MT_" + Total +"' id='MT_" + Total +"' placeholder='Track note(s)' rows='3'></textarea>" + 
            "</td>" +
        "</tr>"
        );
        $('#mrows_count').val(Total);
    }    
</script>    